*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.venv
.env

ffmpeg*
lambda/screenshot/bin
lambda/screenshot/package
lambda/screenshot/requirements.txt

cdk.context.json